.photo-section {
    padding: 20px;
}
.photo {
    margin-bottom: 20px;
}
.photo img {
    max-width: 100%;
    height: auto;
}
body {
    background-image: url('background.png');
    background-size: cover;
    background-repeat: no-repeat;
  }